# Source GitLab hostname [default: gitlab.com]
GLAB_HOST=

# Target GitHub hostname [default: github.com]
GH_HOST=

# GitLab access token
# Can also be set on the command line with --glab-token
GLAB_TOKEN=

# GitHub access token
# Can also be set on the command line with --gh-token
GH_TOKEN=

# Output logging level (trace > debug >= info > warn > error) [default: info]
GLAB_TO_GH_LOG=
